<html>
<head>
    <title>{{title}}</title>
    <style>
        canvas { width: 100%; height: 100% }
    </style>
</head>
    <body>
        <audio id="myAudio" src="/media/coffee.mp3" controls="controls"></audio>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
    <script src="/scripts/three.js"></script>
    <script src="/scripts/OrbitControls.js"></script>
    <script src="/scripts/CanvasRenderer.js"></script>
    <script src="/scripts/Projector.js"></script>
    <script src="/scripts/audioapp.js"></script>
    </body>
</html>