<html>
    <head>
        <title>Three JS Experiments</title>
        <link rel="stylesheet" href="/styles/main.css" type="text/css"/>
        <style>
            canvas { width: 100%; height: 100% }
        </style>
    </head>
    <body>
    <script src="/scripts/three.js"></script>
    <script src="/scripts/OrbitControls.js"></script>
    <script src="/scripts/CanvasRenderer.js"></script>
    <script src="/scripts/Projector.js"></script>
    <script src="/scripts/app.js"></script>
    </body>
</html>