<html>
  <head>
      <title>{{title}}</title>
      <link rel='stylesheet' href='/styles/main.css' />
      <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>-->
      <meta http-equiv="Cache-control" content="no-store"/>
      <meta http-equiv="Cache-control" content="no-cache"/>
      <meta http-equiv="cache-control" content="max-age=0"/>
      <script src="/scripts/jquery.min.js"></script>
      <script src="/scripts/three.min.js"></script>
      <script src="/scripts/audioLoader.js"></script>
      <script src="/scripts/OrbitControls.js"></script>
      <script src="/scripts/CanvasRenderer.js"></script>
      <script src="/scripts/Projector.js"></script>

  </head>
  <body>
  <!--ADD HIDDEN INPUT FILE TO UPLOAD FILE-->


  <!--<audio id="audio-controls" src="/media/statues.mp3" controls="controls"></audio>-->
  <!--<audio id="audio-controls" src="/media/cane.mp3"></audio>-->
    {{{body}}}
  </body>
</html>
