<html>
  <head>
      <title>{{title}} Visuals</title>
      <link rel='stylesheet' href='/styles/main.css' />
      <meta http-equiv="Cache-control" content="no-store"/>
      <meta http-equiv="Cache-control" content="no-cache"/>
      <meta http-equiv="cache-control" content="max-age=0"/>
      <script src="/scripts/jquery.min.js"></script>
      <script src="/scripts/three.min.js"></script>
      <script src="/scripts/velocity.min.js"></script>
      <script src="/scripts/get-float-time-domain-data.js"></script>
      <script src="/scripts/dat.gui.min.js"></script>
      <script src="/scripts/stats.min.js"></script>
      <script src="/scripts/audioLoader.js"></script>
      <script src="/scripts/OrbitControls.js"></script>
      <script src="/scripts/CanvasRenderer.js"></script>
      <script src="/scripts/Projector.js"></script>

  </head>
  <body>
  <nav id="nav">
      <ul>
          <li><a href="/spiral">SPIRAL</a></li>
          <li><a href="/">SPHERE</a></li>
          <li><a href="/square">SQUARE</a></li>
          <li><a href="/waveform">WAVE</a></li>
          <li><a href="/line">LINE</a></li>

      </ul>
  </nav>
    {{{body}}}
  <p id="notification"> drag and drop an mp3 <br>
  (press 'n' to toggle nav bar)</p>
  <script>
      var nav = true;
      function onKeyDown(e) {
          switch (e.which) {
              case 78:
                  if(!nav){
                      $('nav').css('visibility','visible');
                      nav = !nav;
                  }
                  else {
                      $('nav').css('visibility','hidden');
                      nav = !nav;
                  }
          }
      }
      document.addEventListener('keydown', onKeyDown, false);
      $('#notification').velocity('fadeIn', { delay: 150, duration: 1500 });
      console.log('press "n" to toggle nav bar \n' +
              'press "c" to toggle controls');
//      var stats = new Stats();
//      stats.showPanel( 0 ); // 0: fps, 1: ms, 2: mb, 3+: custom
//      document.body.appendChild( stats.dom );
  </script>
  </body>
</html>
