<html>
<head>
    <title>{{title}}</title>

</head>
    <body>
    <!--<audio id="audio-controls" src="/media/bloodflood.mp3" controls="controls"></audio>-->
    <audio id="audio-controls" src="/media/btstu.mp3"></audio>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
    <script src="/scripts/three.js"></script>
    <script src="/scripts/OrbitControls.js"></script>
    <script src="/scripts/CanvasRenderer.js"></script>
    <script src="/scripts/Projector.js"></script>
    <script src="/scripts/lines.js"></script>
    </body>
</html>