body {
  padding: 0;
  margin: 0;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
  background-color: #000;
}

canvas{
  width: 100vw;
  height: 100vh;
}

#audio-controls{
  width: 100vw;
}