body {
  padding: 0;
  margin: 0;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
  background-color: #000;
  color: white;
}

canvas{
  width: 100vw;
  height: 100vh;
}

#audio-controls{
  width: 100vw;
}

nav {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  visibility: hidden;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  padding: 0;
  display: block;
  margin: 1%;
}

a, a:active, a:hover, a:visited{
  color: white;
  text-decoration: none;
}