/*media queries for mobile devices???*/

body {
  padding: 0;
  margin: 0;
  font: 16px Helvetica, Arial, sans-serif;
  overflow: hidden;
  background-color: #000;
  color: white;
}

canvas{
  width: 100vw;
  height: 100vh;
}

#audio-controls{
  width: 100vw;
}

h1 {
  padding: 5%;
}
nav {
  margin-left: 1%;
  margin-top: 1%;
  padding: 0;
  position: fixed;
  width: 100%;
  /*visibility: hidden;*/
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav ul li {
  padding: 0;
  display: inline;
  margin: 1%;
  letter-spacing: 0.25rem;
}

#notification {
  z-index: 10000;
  display: none;
  margin: 0 auto;
  width: 25%;
  text-align: center;
  letter-spacing: 0.15rem;
  padding-top: 50vh;
  color: #fff;
  font-weight: 100;
}

a, a:active, a:hover, a:visited{
  font-weight: 100;
  color: white;
  text-decoration: none;
}

.dg .c .slider-fg {
  background: #fff !important;
}

.dg .cr.number {
  border-left: none !important;
}

.dg .cr.color {
  border-left: none !important;
}

.dg .cr.boolean {
  border-left: none !important;
}

.dg .cr.number input[type=text] {
  color: #fff !important;
}

.dg li:not(.folder){
  background: transparent !important;
  border-bottom: none !important;
}

.dg.main .close-button{
  background: transparent !important;
}

.dg.main .close-button.drag, .dg.main:hover .close-button {
  background: transparent !important;
}

/*.dg .c .slider {*/
  /*background: transparent !important;*/
  /*cursor: ew-resize;*/
/*}*/

.dg .slider {
  margin-left: 0 !important;
}

.dg.main .close-button {
  text-align:right !important;
}

.dg li.title{
  background: transparent url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat !important;
}

.dg .closed li.title {
  background: transparent url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlGIWqMCbWAEAOw==) 6px 10px no-repeat !important;
}


